body {
    text-align: center;
}

div#logotop {
    background-image: url(../assets/img/logo.png);
    width: 2rem;
    height: 1rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#logoof {
    background-image: url(../assets/img/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20rem;
}

.home {
    width: 100%;
    /* height: 100vh; */
    background-image: url(../assets/img/capa.png);
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content .inner-content {
    /* max-width: 48rem;  */
    /* max-w-3xl (768px) */
    /* height: 70rem; */
    padding: 3rem;
    /* p-8 */
    background-color: white;
    /* bg-white */
    border-radius: 0.5rem;
    /* rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* shadow-lg */
    margin-bottom: 3rem;
}

/* div.page-content {
    margin-top: 20rem;
} */

.page-content h1 {
    font-size: 3rem;
    /* text-5xl */
    font-weight: 800;
    /* font-extrabold */
    color: #527d76;
    /* text-gray-900 */
    margin-bottom: 3rem;
    /* mb-6 */
    text-align: center;
}

.page-content p {

    font-size: 1.2rem;
    /* text-xl */
    color: #374151;
    /* text-gray-700 */
    line-height: 1.425;
    /* leading-relaxed */
    margin-bottom: 2rem;
    /* mb-8 */
    text-align: justify;
    hyphens: auto;
}

/* .page-content p:last-of-type {
    font-size: 1.5rem;
    color: #4B5563; 
} */

.page-content .mt-12 {
    margin-top: 3rem;
    /* mt-12 */
}

#descri_home {
    margin-top: 6rem;
    display: flex !important;
}

.h2,
h2 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #527d76;
}